@font-face {
    font-family: 'Avenir';
    font-display: auto;
    src: url('../fonts/Avenir.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.catalogue-title,
.post-title {
    color: #D34E24;
}

.catalogue-line,
.post-line {
    border-color: #F8AA02;
}

.nav-title {
    color: #F8AA02;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    float: left;
    align-self: center;
}

.nav-container a {
    color: #D34E24;
}

.nav-container,
.nav {
    background-color: transparent;
}

.nav-logo {
    height: 40px;
    float: left;
    margin-bottom: 0px;
}

.nav-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

.post-info {
    color: #2b9eb3;
}

ul,
ol,
p,
footer,
time,
.pagination {
    font-family: 'Avenir' !important;
}

p {
    font-size: 17px;
}

img[src$='#bordered-image'] {
    border: 1px solid #021a40;
}

.post-title {
    font-size: 2rem;
}

table {
    border-collapse: collapse;
  }

table, th, td {
    border: 1px solid lightgray; 
}

th, td {
    padding: 7px;
}

table {
    margin-bottom: 35px;
    font-family: 'Avenir' !important;
}