<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{- if .IsHome }}
	<meta name="description" content="{{ .Site.Params.Description }}">
	{{- else if .Description }}
	<meta name="description" content="{{ .Description }}">
	{{- end }}

	<title>{{- if .IsHome }}{{ .Site.Title }}{{- else }}{{ .Title }} &middot; {{ .Site.Title }}{{- end }}</title>

	<!-- CSS -->
	{{- $inServerMode	:= .Site.IsServer }}
	{{- $cssTarget		:= "css/style.css" }}
	{{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
	{{- $style			:= resources.Get "scss/tale.scss" | toCSS $cssOptions }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">

	<link rel="preload" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" as="style"
		onload="this.onload=null;this.rel='stylesheet'">
	<noscript>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
	</noscript>
	
	{{ range  .Site.Params.links -}}
	{{ if .critical }}
	<link rel="{{ .rel }}" type="{{ .type }}" href="{{ .href | relURL }}">
	{{ else }}
	<link rel="preload" href="{{ .href | relURL }}" as="style"
		onload="this.onload=null;this.rel='{{ .rel }}'">
	<noscript>
		<link rel="{{ .rel }}" href="{{ .href | relURL }}">
	</noscript>
	{{ end }}
	{{ end -}}
	{{ range .Site.Params.scripts -}}
	{{ if .async }}
	<script type="{{ .type }}" src="{{ .src | relURL }}" async></script>
	{{ else }}
	<script type="{{ .type }}" src="{{ .src | relURL }}"></script>
	{{ end }}
	{{ end -}}

	{{ if .Params.canonicalUrl }}
	<link rel="canonical" href="{{ .Params.canonicalURL }}" />
	{{ end }}

	<!-- RSS -->
	<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate"
		type="application/rss+xml" title="{{ .Site.Title }}" />
</head>